.App {
  text-align: center;
  height: 100%;
  margin: 10px auto;
  padding: 5px;
  max-width: 560px;
  color: #444;
  font-family: 'Alata', sans-serif;
}

h1 {
  color: black;
}

h2 {
  color: #444;
}

button {
  border: 1px solid #bbb;
  background-color: #eee;
  background: none;
  font-size: 1.1em;
  color: #444;
  font-family: 'Alata', sans-serif;
  padding: 10px;
  margin: 5px;
}

button:hover {
  cursor: pointer;
  color: black;
  border-color: black;
}

a:link,
a:active,
a:visited {
  color: #444;
}

a:hover {
  color: black;
}

textarea, 
input {
  font-family: 'Alata', sans-serif;
}

@media screen and (min-width: 460px) {
  body,
  input,
  textarea {
    font-size: 1.1em;
  }
}
